body {background-image: url(ll.jpg);
background-repeat: no-repeat;
background-size:100%;}
   h1{  font-family: arial black;
   	color: red;
   	text-align:left;}
<p>{text-align:left;}
   h2{
   font-family: arial black;
   color: red;
text-align:left;}

   h3{
   font-family: arial black;
   text-align:left;
color: red}
ul{text-align:left;}
li{text-align:left;}
   h4{
   font-family: arial black;
text-align:left;
color: red}
li.studie{text-align:left;}
p.studie{text-align:left;}
ol{text-align:center;}
   	p{background-color: 	; 
   		font-family: arial;
   	text-align:left;
   	color: black}
h5{text-align:left;
	font-family: arial black;
color:red;}
li.skills{text-align:left;}